{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block body %}
<div class="central central-inner">

    <form action="" method="POST" style="margin: 7em 0 0 0;">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" style="background-color: #fca311; color: white;">Login</button>
    </form>

    <div style="margin: 5em 0 0 0; ">
        <p>Or sign-in with social media:</p>
        <div
            style="width: 7em; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">

            <a href="{% provider_login_url 'google' %}"><img width="40" height="40"
                    src="https://img.icons8.com/external-those-icons-flat-those-icons/96/external-Google-logos-and-brands-those-icons-flat-those-icons.png"
                    alt="external-Google-logos-and-brands-those-icons-flat-those-icons" /></a>
            <a href="{% provider_login_url 'facebook' %}"><img width="50" height="50"
                    src="https://img.icons8.com/fluency/48/facebook-new.png" alt="facebook-new" /></a>
        </div>
    </div>

</div>
{% endblock %}

<!---->